.body {
  display: flex;
  height: 100vh;
}

.bodyMenu {
  background-color: #f6f8fa;
  padding: 15px 25px;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.children {
  padding: 15px 25px;
}
